Repository Multiverse/Multiverse-Portals, pull requests merged in 2023-08, with the labels that each got.

#658 Update README.md and add LICENSE.md
  LICENSE.md
  README.md
Labels: no version bump, prerelease

#659 feat: Revamp actions with new release and upload system
  .github/labeler.yml
  .github/workflows/call.github_release.yml
  .github/workflows/call.platform_uploads.yml
  .github/workflows/dispatch.platform_uploads.yml
  .github/workflows/dispatch.promote_release.yml
  .github/workflows/main.prerelease.yml
  .github/workflows/pr.require_label.yml
  .github/workflows/pr.test.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/promote_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: release:patch

#660 Update hangar plugin deps bcu they changed the API
  .github/workflows/call.platform_uploads.yml
Labels: no release
